# Car Sales Price model building

In [2]:
import pandas  as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [4]:
cp=pd.read_csv(r"C:\Users\SARTHAK JAGADALE\OneDrive\Desktop\pandas\car_price.csv")
cp.head()

,symboling,normalized_losses,Fuel_type,make,num_of_doors,aspiration,wheel_base,engine_location,drive_wheels,body_style,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,gas,std,two,hatchback,rwd,front,94.5,alfa-romero,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,gas,std,four,sedan,fwd,front,99.8,audi,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,gas,std,four,sedan,4wd,front,99.4,audi,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [6]:
cp.isnull().sum()[cp.isnull().sum()>0]

Series([], dtype: int64)

In [8]:
cp=cp.replace({'?':np.nan})

In [10]:
cp.isnull().sum()[cp.isnull().sum()>0]

normalized_losses    41
num_of_doors          2
bore                  4
stroke                4
horsepower            2
peak_rpm              2
price                 4
dtype: int64

In [12]:
cp = cp.astype({"normalized_losses":"float",'bore':'float','stroke':'float','horsepower':'float','peak_rpm':'float','price':'float'})

In [14]:
cp.normalized_losses.fillna(cp.normalized_losses.mean(),inplace=True)
cp.num_of_doors.fillna('four',inplace=True)
cp.bore.fillna(cp.bore.mean(),inplace=True)
cp.stroke.fillna(cp.stroke.mean(),inplace=True)
cp.horsepower.fillna(cp.horsepower.mean(),inplace=True)
cp.peak_rpm.fillna(cp.peak_rpm.mean(),inplace=True)
cp.price.fillna(cp.price.mean(),inplace=True)

In [16]:
cp.select_dtypes(include='object').columns

Index(['Fuel_type', 'make', 'num_of_doors', 'aspiration', 'wheel_base',
       'engine_location', 'body_style', 'engine_type', 'num_of_cylinders',
       'fuel_system'],
      dtype='object')

In [18]:
from sklearn.preprocessing import LabelEncoder # label encoder covert non numeric to number
le=LabelEncoder()

In [19]:
cp.normalized_losses = le.fit_transform(cp.normalized_losses)
cp.Fuel_type = le.fit_transform(cp.Fuel_type)
cp.make = le.fit_transform(cp.make)
cp.num_of_doors = le.fit_transform(cp.num_of_doors)
cp.aspiration = le.fit_transform(cp.aspiration)
cp.wheel_base = le.fit_transform(cp.wheel_base)
cp.engine_location = le.fit_transform(cp.engine_location)
cp.body_style = le.fit_transform(cp.body_style)
cp.engine_type = le.fit_transform(cp.engine_type)
cp.num_of_cylinders = le.fit_transform(cp.num_of_cylinders)
cp.fuel_system = le.fit_transform(cp.fuel_system)
cp.bore = le.fit_transform(cp.bore)
cp.stroke = le.fit_transform(cp.stroke)
cp.horsepower = le.fit_transform(cp.horsepower)
cp.peak_rpm = le.fit_transform(cp.peak_rpm)

In [22]:
cp.select_dtypes(include='object').columns

Index([], dtype='object')

In [24]:
cp['price']=pd.to_numeric(cp['price'])

In [26]:
cp.head()

,symboling,normalized_losses,Fuel_type,make,num_of_doors,aspiration,wheel_base,engine_location,drive_wheels,body_style,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,28,1,0,1,0,2,0,88.6,0,...,130,5,24,4,9.0,31,10,21,27,13495.0
1,3,28,1,0,1,0,2,0,88.6,0,...,130,5,24,4,9.0,31,10,21,27,16500.0
2,1,28,1,0,1,2,2,0,94.5,0,...,152,5,1,28,9.0,46,10,19,26,16500.0
3,2,42,1,0,0,3,1,0,99.8,1,...,109,5,13,25,10.0,27,17,24,30,13950.0
4,2,42,1,0,0,3,0,0,99.4,1,...,136,5,13,25,8.0,34,17,18,22,17450.0

In [ ]:
from sklearn.model_selection import train_test_split
train_cp,test_cp = train_test_split(cp,test_size=0.2)
train_cp.head()

In [ ]:
train_cp_x=train_cp.iloc[:,0:-1:]
train_cp_y=train_cp.iloc[:,-1]
test_cp_x=test_cp.iloc[:,0:-1:]
test_cp_y=test_cp.iloc[:,-1]

In [ ]:
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(train_cp_x,train_cp_y)

In [ ]:
Rsquare=linreg.score(train_cp_x,train_cp_y)   
Rsquare

In [ ]:
N=train_cp_x.shape[0]
K=train_cp_x.shape[1]
Adj_Rsqu=1-(1-Rsquare) *(N-1)/(N-K-1)
Adj_Rsqu

In [ ]:
pred_train=linreg.predict(train_cp_x)
pred_test=linreg.predict(test_cp_x)

In [ ]:
act_pred=pd.DataFrame()
act_pred['Actual']=test_cp_y # if we are making prediction on test then y is your actual value
act_pred['Pred']=pred_test

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error,mean_absolute_error ,mean_squared_error
train_cp_x

In [ ]:
mean_squared_error(act_pred['Actual'],act_pred['Pred'])

In [ ]:
mean_absolute_error(act_pred['Actual'],act_pred['Pred'])

In [ ]:
mean_absolute_percentage_error(act_pred['Actual'],act_pred['Pred'])*100